-
  const { internal, third_party, custom_format } = theme.CDN
  const providers = {
    'jsdelivr': '//cdn.jsdelivr.net',
    'cdnjs': '//cdnjs.cloudflare.com',
    'unpkg': '//unpkg.com',
    'custom': custom_format && custom_format.match(/^((https?:)?(\/\/[^/]+)|([^/]+))(\/|$)/)[1]
  }
-

if internal_provider === third_party_provider && internal_provider !== 'local'
  link(rel="preconnect" href=providers[internal_provider])
else 
  if internal_provider !== 'local'
    link(rel="preconnect" href=providers[internal_provider])
  if third_party_provider !== 'local'
    link(rel="preconnect" href=providers[third_party_provider])

link(rel="preconnect" href="images1.blog.sinzmise.top")