@font-face {
    font-family: DingTalk-JinBuTi;
    src: url(https://files.blog.sinzmise.top/fonts/DingTalk-JinBuTi.woff2) format('woff2'),url(https://files.blog.sinzmise.top/fonts/DingTalk-JinBuTi.woff) format('woff');
    font-display: swap;
  }